<div id="network_battery">
    <div id="network">
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>
    <i class="fa-solid fa-battery-three-quarters"></i>
</div>