<section class="single_group">
    <div>
        <div class='group_image'>
            <img src="<%= group.icon %>" alt="">
        </div>
        <div class="bio">
            <h2> <%= link_to "#{group.name}", group_path(group.id) %> </h2>
            <small> <%= group.created_at %> </small>
        </div>
    </div>
    <h4>$<%= group.total_deals %> </h4>
</section>