<div class="transaction">
    <div>
        <h3 class="purpose"> <%= deal.name %> </h3>
        <div class="date_time">
            <i class="fa-regular fa-calendar"></i>
            <p class="date"> <%= deal.created_at %> </p>
        </div>
    </div>
    <h4 class="money">$<%= deal.amount %> </h4>
</div>